.social-links__list {
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	
	li {
		display: inline-block;
		background-color: lighten($brand-primary, 50%);
		width: 3em;
		height: 3em;
		border-radius: 50%;
	}
}