body {
	background-color: $gray-lighter;
}
.background-banner,
.background-banner__filter {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;

	height: 100%;

	// @media (min-width: map-get($grid-breakpoints, sm)) {
	// 	height: 400px;
	// }
	@media (min-width: map-get($grid-breakpoints, md)) {
		height: 400px;
	}
	@media (min-width: map-get($grid-breakpoints, lg)) {
		height: 400px;
	}
	@media (min-width: map-get($grid-breakpoints, xl)) {
		height: 400px;
	}
}
.background-banner {
	background-color: $blue-bayoux;
	// TO-DO: fallback for multiple backgrounds
	// background-image: 
		// url("/assets/img/tp_solid_diamond_20.png"), 
		// url("/assets/img/pink-filter.png"),
		// url("/assets/img/mountains.png");
	// background-size: cover;
	// background-repeat: no-repeat;
}
.background-banner__filter {
	background-color: rgba($turkish-rose, 0.2);
}