// Blog Header
#header--mobile {
	margin-top: -100px;
	display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: $card-spacer-x;
    margin-bottom: $card-spacer-x;
    border-bottom: 1px solid $card-border-color;
    img {
    	width: 200px;
    	height: 200px;
    	margin-bottom: ($card-spacer-x * 2);
    }
    hgroup,
    h1,
    p {
    	text-align: center;
    }
    hgroup {
        padding: 0 ($card-spacer-y * 2);
    	margin-bottom: ($card-spacer-x * 2);
    }
    .social-links__list {
        padding: 0 ($card-spacer-y * 2);
        margin-bottom: $card-spacer-x;
    }
}
#header--tablet {
	margin-top: ($spacer-y * 2);
    margin-bottom: ($spacer-y * 2);
    .header--tablet--left-col {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-left: $card-spacer-y;
    }
    .header--tablet--right-col {
        padding-left: ($spacer-y * 1);
        padding-right: ($card-spacer-y * 2);
    }
	img {
    	
    }
    h1, p {
        text-shadow: $carousel-text-shadow;
    }
    h1 {
        color: $white;
        font-size: 2.25em;
        @media (min-width: map-get($grid-breakpoints, lg)) {
            font-size: 2.5em;
        }
    }
    p {
        color: $gray-lightest;
    }
    hgroup {
        padding-left: ($card-spacer-y * 2);
    }
    .social-links__list {
        padding: 0 $card-spacer-y 0 ($card-spacer-y * 2);
    }
}
#header--desktop {
	// TO-DO 
	// margin-top: -100px;
	// display: flex;
 //    flex-direction: column;
 //    align-items: center;
	img {
    	width: 200px;
    	height: 200px;
    	margin-bottom: $card-spacer-x;
    }
}
.header-image {
	@include material-box-shadow(1, false);
}
.byline-header {
	h1 {
		text-transform: uppercase;
	}
	p {
		@extend h3;
		color: transparentize(mix($graffiti-blue, $gray-dark, 0.9), 0.6);
	}
}